# Entorno virtual
venv/

# Archivos de configuración de VS Code
.vscode/

# Archivos de Python
__pycache__/
*.pyc
*.pyo

# Archivos de log
*.log

# Archivos de base de datos local
db.sqlite3

# Archivos de migraciones
*/migrations/*
!*/migrations/__init__.py
